<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<img src="http://1.bp.blogspot.com/-SqwrVIJoXXY/U9vXJm7TiiI/AAAAAAAABwU/DyQAiOXcIgU/s1600/blueships1.png" id="ship"></img>
		<img src="https://1.bp.blogspot.com/-pKGVMFPy6RI/V1qy7QKkGDI/AAAAAAAAAc0/WNFGSAB31kwJDEnNRGrIjV3IKjK94qy8wCLcB/s1600/3.png" id="laser"></img>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			class Laser {
				constructor(x, y){
					this.x = x;
					this.y = y;
					this.vel = 5;
					this.dp = 100;
				}
			}
			class Ship {
				constructor(x, y, t){
					this.dir = 0
					this.x = x
					this.y = y
					this.t = t
					this.vel = 2.5
					this.hp = 200
				}
			}
			class Shield {
				constructor(rate, p){
					this.rate = rate
					this.p = p

				}
			}
			var socket = io.connect();
			var canvas = document.getElementById("canvas");
			var img = document.getElementById("ship")
			var c = canvas.getContext("2d");
			var width = canvas.width;
			var height = canvas.height;
			var x = width/2;
			var y = height/2;
			var Vel = 0;
			var dVel = 0;
			var ax = width/2;
			var ay = height/2;
			var xvel = 0
			var yvel = 0
			var v = 2.5
			var shoot = false

			socket.on('connect', function() {
				console.log("hi")
				socket.emit('connected');
				socket.emit('new ship', {
					x:x,y:y,ax:ax,ay:ay
				})
			});
			socket.on('update ship', function(data){
				c.clearRect(0,0,width,height)
				c.drawImage(img, data[0], data[1], 15, 15)
				c.drawImage(laser, data[0], data[1], 15, 15)
			})


			function move(){
				c.clearRect(0, 0, width, height);
				c.drawImage(img, x, y, 15, 15);
				if(shoot){
					console.log(ax, ay);
					c.drawImage(laser, ax, ay, 15, 15, dVel);
				}
				x += xVel
				ax += xvel
			  y += yVel
			  ay += yvel
			  //shoot = true
			  requestAnimationFrame(move);
			}

			function xshoot(){
				ax = x
				ay = y
				xvel = 2.75
				yvel = 0
				shoot = true
			    //requestAnimationFrame(xshoot);
			}

			function keydown(e){
				if(e.keyCode == 37){//left
					dVel += 1
			  }else if(e.keyCode == 38){ // UP
			  	Vel -= -2.5;
			    xVel += 0;
			  }else if(e.keyCode == 39){//right
			  	dVel -= 1
			  }else if(e.keyCode == 40){//down
			  	Vel -= 2.5;
			    xVel += 0;
			  }else if (e.keyCode == 32){//space
			  	xshoot()
			  }
			}

			document.addEventListener("keydown", keydown);

			move();

		</script>
		<style type="text/css">
		canvas{
  			background-image: url("https://i.ytimg.com/vi/KLY9WrlbzI8/maxresdefault.jpg");
  			background-size: cover;
			background-repeat: no-repeat;
			  width: 100%;
			  height: 100%;
			  margin: 0;
			}

		img{
		  display: None;
		}


		</style>

	</body>
</html>